{
	"env": {
		"browser": true,
		"es2017": true,
		"es2020": true,
		"es2021": true,
		"es6": true,
		"jest": true,
		"node": true,
		"serviceworker": false
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"array-bracket-newline":2,
		"array-element-newline":2,
		"eqeqeq":"error",
		"indent": 2,
		"no-fallthrough":"error",
		"no-useless-return":"error",
		"no-unused-vars": "off",
		"require-await":"error",
		"newline-per-chained-call":"off"
	}
}
