// <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

body, html {
margin:0;
border:2px solid red;
font-size: 16px;
}

.title {
	font-family: 'Alef', sans-serif;
	font-size:1rem;
}

.overview {
	font-family: 'Noto Serif JP', serif;
	font-size:.8rem
}
